SERVER_PORT=8081
ENVIRONMENT=production
SPRING_PROFILES_ACTIVE=production
DB_HOSTNAME=catalog-db
POSTGRES_PORT=5432
POSTGRES_USER=catalog
POSTGRES_PASSWORD=catalog
POSTGRES_DB=marketplace_search
POSTGRES_TABLES=public.products,public.product_metrics,public.brands,public.categories,public.sellers


KAFKA_BOOTSTRAP_SERVERS=kafka:29092
# OpenTelemetry Configuration
OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317
OTEL_SERVICE_NAME=catalog-service
OTEL_SERVICE_VERSION=1.0.0
OTEL_RESOURCE_ATTRIBUTES=service.name=catalog-service,service.version=1.0.0


# DEBEZIUM
DEBEZIUM_URL=http://kafka-connect:8083/connectors
DB_HOSTNAME=catalog-db
KAFKA_TOPIC_PREFIX=-db
KAFKA_TOPIC_REGEX=catalog-db\\.public\\.products