# Variáveis de ambiente para desenvolvimento local

# Banco de dados PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=marketplace_search
POSTGRES_USER=dev_user
POSTGRES_PASSWORD=dev_password
POSTGRES_TABLES=public.products,public.product_metrics,public.brands,public.categories,public.sellers


# Aplicação
SPRING_PROFILES_ACTIVE=development
SERVER_PORT=8081
LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_COM_MARKETPLACE_SEARCH=DEBUG

# Debezium
DB_HOSTNAME=catalog-db
KAFKA_TOPIC_PREFIX=-db
KAFKA_TOPIC_REGEX=catalog-db\\.public\\.products
KAFKA_TOPIC_REPLACEMENT=marketplace.public.catalog_products


# Monitoring
MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=health,info,metrics,prometheus
MANAGEMENT_ENDPOINT_HEALTH_SHOW_DETAILS=always