# Variáveis de ambiente para desenvolvimento local


# Aplicação
SPRING_PROFILES_ACTIVE=production
SERVER_PORT=8082
LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_COM_MARKETPLACE_SEARCH=DEBUG

# Debezium
DB_HOSTNAME=catalog-db
KAFKA_TOPIC_PREFIX=catalog
KAFKA_TOPIC_REGEX=catalog-db\\.public\\.products

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# OpenSearch
OPENSEARCH_HOST=http://open-search
OPENSEARCH_PORT=9200
OPENSEARCH_SCHEME=http
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD=admin
OPENSEARCH_PRODUCTS_INDEX=products-index


# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_SCHEMA_REGISTRY_URL=
KAFKA_PRODUCT_EVENTS_TOPIC=catalog-db.public.products
KAFKA_BRAND_EVENTS_TOPIC=catalog-db.public.brands
KAFKA_CATEGORY_EVENTS_TOPIC=catalog-db.public.categories
KAFKA_SELLER_EVENTS_TOPIC=catalog-db.public.sellers
KAFKA_PRODUCT_METRICS_EVENTS_TOPIC=catalog-db.public.product_metrics

# Monitoring
MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=health,info,metrics,prometheus
MANAGEMENT_ENDPOINT_HEALTH_SHOW_DETAILS=always


EMBEDDING_SERVICE_URL=http://embedding-service:8085

OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317
OTEL_SERVICE_NAME=indexing-service
OTEL_SERVICE_VERSION=1.0.0
OTEL_RESOURCE_ATTRIBUTES=service.name=indexing-service,service.version=1.0.0